.search {
    &--header {
        .form-group {
            @extend .mb-0;
        }
        .form-control {
            height: 30px;
            font-size: 12px;
            @extend .border-left-0;
        }
        .location {
            .form-control {
                @extend .border-right-0;
            }
        }
        .date {
            .form-control {
                @extend .border-right-0;
            }
        }
    }
    &--main {
        .form-group {
            @extend .mb-0;
        }
        > div,
        button {
            border-color: #ffbb06 !important;
            border-width: 3px !important;
        }
        .property {
            @extend .border-right-0;
        }
        .person {
            @extend .border-left-0;
            @extend .border-right-0;
        }
        button {
            background-color: #0078cc;
            height: 44px;
        }
        .form-control {
            border: 0 !important;
        }
    }
}
.nav {
    &--secendary {
        a {
            &.active {
                color: $primary;
                border-bottom: 1px solid $primary;
            }
        }
    }
}

.main-datepicker {
    .DateInput_input {
        font-size: 13px;
        line-height: 14px;
    }
}
