.img-loader-init img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
a {
    color: #000000;
}

.mh {
    &--50 {
        min-height: 50vh;
    }
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    @extend .text-muted;
}
dt {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    @extend .font-weight-light;
}
dd {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    @extend .text-right;
    @extend .font-weight-light;
}
.slick-next {
    right: 10px !important;
}
.slick-prev {
    left: 10px !important;
    z-index: 999999;
}
.slick-arrow {
    opacity: 0;
    transition: all 0.3s;
}
.slick-slider {
    &:hover {
        .slick-arrow {
            opacity: 1;
        }
    }
}
.slick-dots {
    bottom: 14px !important;
}
.slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 0.85 !important;
}
.slick-dots li button:before {
    color: white !important;
    opacity: 0.5 !important;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 170px;
}
a {
    &:hover {
        text-decoration: none;
    }
}
